@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.login {
    text-align: center;
    padding-top: 20%;
    background-size: cover;
    font-family: 'Roboto Condensed';
}

.App {
    background: url(https://g.foolcdn.com/editorial/images/486381/gettyimages-523155194.jpg) no-repeat center center;
 
}