@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.login {
    text-align: center;
    padding-top: 20%;
    background-size: cover;
    font-family: 'Roboto Condensed';
}