.Nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    background: navy;
    position: fixed;
}
.Nav button {
    
    color: white;
    background: navy;
    border: 2px solid white;
    margin-right: 2px;
}