@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


.stockContainer {
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    color: white;
    font-family: 'Roboto Condensed';
    border-top: 2px solid white;
}



.stockContainer button{
    width: 200px;
    height: 20px;
    margin-top: 30px;
    margin-left:600px;
    background: transparent;
    color:limegreen;
    border: 2px solid limegreen;
}

.stockContainer button :hover {
    background: white;
    color: limegreen
}

